{
  "extends": "standard",
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": [ "promise", "node" ],
  "rules": {
    "no-var": "error",
    "no-return-await": "warn",
    "semi": [2, "always"],
    "no-console": "warn"
  },
  "root": true
}
